@mixin absoluteCenter {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

html {
	font-size: calc(max(22px, 3vw));
}

@media (min-width:$breakpoint-sm-min) {}

@media (min-width:$breakpoint-md-min) {
	html {
		font-size: calc(max(18px, 2vw));
	}
}

@media (min-width:$breakpoint-lg-min) {
	html {
		font-size: calc(clamp(16px, 1.4vw, 22px));
	}
}

body {
	font-size: 1rem;
}

body.body--dark {
	background-color: $dark;
}

a {
	color: $primary;
	position: relative;
	text-decoration: none;
	transition: color 0.3s;

	&:hover {
		&:after {
			max-width: 100%;
		}
	}

	&:after {
		border-bottom: 2px solid $primary;
		bottom: -2px;
		content: "";
		left: 0;
		max-width: 0%;
		position: absolute;
		transition: max-width 0.3s;
		width: 100%;
	}
}
