@mixin embed_font($name, $file) {
	$filepath: "./fonts/"+$file;

	@font-face {
		font-family: $name;
		font-display: swap;
		src: url($filepath+".woff2") format("woff2"),
			url($filepath+".ttf") format("ttf");
	}
}

@include embed_font("Montserrat Black", "Montserrat-Black");
@include embed_font("Montserrat Bold", "Montserrat-Bold");
@include embed_font("Source Sans Pro Bold", "SourceSansPro-Bold");
@include embed_font("Source Sans Pro", "SourceSansPro-Regular");

html {
	font-size: calc(max(22px, 3vw));
}

@media (min-width:$breakpoint-sm-min) {}

@media (min-width:$breakpoint-md-min) {
	html {
		font-size: calc(max(18px, 2vw));
	}
}

@media (min-width:$breakpoint-lg-min) {
	html {
		font-size: calc(clamp(16px, 1.4vw, 22px));
	}
}

body {
	font-size: 1rem;
}

body.body--dark {
	background-color: $dark;
}

h1 {
	font-family: "Montserrat Black";
	font-weight: 900;
}

h2 {
	font-family: "Montserrat Bold";
}

h3 {
	font-family: "Source Sans Pro Bold";
}

h4 {
	font-family: "Source Sans Pro Bold";
}

h5 {
	font-family: "Source Sans Pro Bold";
}

h6 {
	font-family: "Source Sans Pro Bold";
}

p {
	font-family: "Source Sans Pro";
}

a {
	color: $primary;
	position: relative;
	text-decoration: none;
	transition: color 0.3s;

	&:hover {
		&:after {
			max-width: 100%;
		}
	}

	&:after {
		border-bottom: 2px solid $primary;
		bottom: -2px;
		content: "";
		left: 0;
		max-width: 0%;
		position: absolute;
		transition: max-width 0.3s;
		width: 100%;
	}
}
